p {
    color: #bcbdbd;
}

.my-btn-1 {
    background-color: #058283;
    color: #fff;
    text-transform: uppercase;

}

.my-btn-2 {
    background-color: transparent;
    border: 2px solid #058283;
    color: #fff;
    text-transform: uppercase;

}

.my-btn-3 {
    background-color: transparent;
    border: 2px solid #058283;
    color: #058283;
    text-transform: uppercase;

}

.introduction-text {
    color: #42ACAC;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.marker-effect-light {
    background-color: #DAECED;
    color: #058283;
    padding: 0 .5rem;
    border-radius: 2px;
}

.marker-effect-dark {
    background-color: #0583837d;
    color: #fff;
    padding: 0 .5rem;
    border-radius: 2px;
}