p {
    color: #bcbdbd;
}

h2 {
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: 700;
}

.my-btn-1 {
    background-color: #058283;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 0.5rem 1.5rem;

    &:hover {
        transform: scale(1.1);
        background-color: #056c6c;
        border: 2px solid transparent;
        color: #fff;
    }

    &:focus {
        border: transparent;
    }

}

.my-btn-2 {
    background-color: transparent;
    border: 2px solid #058283;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;


    &:hover {
        transform: scale(1.1);
        background-color: #058283;
        border: 2px solid transparent;

    }

    &:focus {
        border: transparent;
    }

}

.my-btn-3 {
    background-color: transparent;
    border: 2px solid #058283;
    color: #058283;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;


    &:hover {
        transform: scale(1.1);
        background-color: #058283;
        color: #fff;
    }

    &:focus {
        border: transparent;
    }
    

}

.introduction-text {
    color: #42ACAC;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
}

.marker-effect-light {
    background-color: #DAECED;
    color: #058383;
    padding: 0 1rem;
    border-radius: 5px;
}

.marker-effect-dark {
    background-color: #0583832f;
    color: #fff;
    padding: 0 1rem;
    border-radius: 5px;
}